.grid{
    display: flex;
    justify-content: space-around;
}

.list{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: center;
}

.cardWidth{
    width: 19rem;
    display: flex;
    justify-content: end;
}
